.container {
  width: 100%; 
  display: flex;
  justify-content: center;
}
.header {
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: 5px;
  border-radius: 50px; /* optional: only round bottom edges */
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 2rem;
}
.name{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.7rem;
  text-decoration: none;
  color: var(--color-text);
}
.Links{
  width: 20%;
  display: flex;
  justify-content: space-between;

}

.Links a{
    color: var(--color-text);
    text-decoration: none;
    font-size: 1.5rem;
}
