.container {
  width: 100%; 
  display: flex;
  justify-content: center;
  height: 10vh;
}
.header {
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 50px; 
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 3rem;
}
.name{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--color-text);
}
.Links{
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.Links a{
    color: var(--color-text);
    text-decoration: none;
    font-size: 1.5rem;
}
